@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap" rel="stylesheet');
 
/* =========== UNIVERSAL ITEM ============ */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 4.2s;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #27AE60;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}
/* =========== TUTUP UNIVERSAL ITEM ============ */


/* =========== ITEM HEADER NAVBAR =================== */
header {
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: #F4D03F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: rgb(11, 11, 11);
    transition: width.3s;
}

/* .header::after {
    content: '';
    display: flex;
    width: 0px;
    height: 2px;
    background-color: black;
    transition: width.3s;
} */

.header:hover::after {
    width: 100%;
    transition: width.3s;
}

nav {
    align-items: center;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

nav .navbar-brand {
    margin-top: 10px;
}

nav h1 {
    padding-left: 15px;
}

#pin::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
}

.con {
    margin: 0 20px;
    display: none;
}

.burger {
    max-width: 300px;
    font-weight: 500;
}

.burger input {
    display: none;
}

.burger-text {
    max-height: 0px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: absolute;
    right: 0;
    background-color: white;
    margin: 15px 0;
    transition: all 0.3s ease;
}

.burger input:checked~.burger-text {
    max-height: 300px;
    max-width: 200px;
    padding-bottom: 25px;
}

.burger-text li {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    padding: 15px 15px 0;
}

.burger-text li a {
    color: black;
}

nav h1 {
    font-size: 40px;
}

nav ul {
    display: flex;

}

nav ul li {
    padding: 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #27AE60;
    font-size: 20;
    font-weight: 600;
}

/* =========== TUTUP ITEM HEADER NAVBAR =================== */


/* ========= ITEM HOME ==================  */
.home .text-home h1 {
    margin-top: -300px;
    z-index: 1;
}

.home img {
    width: 560px;
    height: auto;
    padding-top: 310px;
    margin-left: 55%;
    padding-bottom: 1000px;
    background-size: cover;
}

.home .tentang h3 {
    margin-bottom: -1400px;
    z-index: 1;
}

.home .tentang p {
    margin-left: 160px;
}

.home .tombol {
    margin-left: 160px;
}

.tombol {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.0rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.tombol:hover {
    background: orangered;
}

.home {
    background-color: #eeb81d;
    width: 100%;
    height: 720px;
    color: black;
}

.home .tentang .judul {
    font-size: 42px;
}
/* ========= TUTUP ITEM HOME ==================  */


/* ======= TUTUP ITEM MENU ========================== */
.menu {
    background-color: white;
    height: 600px;
}

.item {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card .card2 h2 {
    color: white;
    text-align: justify;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
}

.card .card2 p {
    color: white;
    text-align: justify;
    margin-top: -15px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.card2 .rp p {
    color: orange;
}

.card,
.card2 {
    background-color: #343a40;
}

.card .card2 {
    margin-top: 10px;
}

.card .card3 {
    width: 300px;
    height: 430px;
    background-color: #f1f2f3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 50px;

}

.item .card {
    margin: 0 20px;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.item .card .card2 {
    margin: 0 20px;
    height: 300px;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
}

.card img {
    margin-top: 20px;
    height: 150px;
    width: 200px;
}

/* ======= TUTUP ITEM MENU ========================== */


/* ======= ITEM MAPS ============ */
.maps iframe {
    padding-bottom: 30px;
    margin-top: 30px;
}

.maps:hover {
    transform: scale(1.03);
    transition: 2.0s;
}

.maps {
    background-color: #f7f7f7;
    height: 400px;
    
}
/* ========== TUTUP ITEM MAPS =============== */


/* ========== ITEM CONTACT ================== */
.contact .contact-form {
    border-radius: 5px;
    background-color: white;
    border: 2px solid orange;
    padding: 20px;
}

.contact {
    padding: 0 10%;
    margin: 40px 0;
    background-color: white;
    height: 750px;
}

.contact h1 {
    text-align: center;
    font-size: 40px;
    align-items: center;
}

input[type=text],input[type=phone],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.contact button{
    background-color: #229050;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #2ec16b;
}
/* ========== TUTUP ITEM CONTACT ================== */


/* ===========ITEM ABOUT ============================  */
.about {
    padding: 0 10%;
    margin: 40px 0;
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
}

.about img {
    margin-left: 7%;
    margin-top: 10px;
    border: 2px solid orange;
}

.about p {
    padding-left: 650px;
    padding-right: 50px;
    margin-top: -350px;
    text-align: justify;
    padding-bottom: 60px;
    color: black;
    font-family: 'Poppins';
}
/* ===========TUTUP ITEM ABOUT ============================  */


/* ========== ITEM FOOTER ========================= */
.footer {
    margin-top: 15px;
    background-color: #F4D03F;
    text-align: center;
    color: #229050;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ========== TUTUP ITEM FOOTER ========================= */
.team h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.team img {
    border: 2px solid orange;
}


/* =========== RESPONSIVE ========================== */
@media screen and (max-width: 1280px) {
    header {
        height: 80px;
        font-size: 8pt;
    }

    header.sticky {
        height: 20px;
    }

    header h1 {
        font-size: 18pt;
    }

    .home img {
        width: 448px;
        height: auto;
        padding-top: 367px;
        margin-left: 752px;
        background-size: cover;
    }

    .home .tentang .judul {
        font-size: 25px;
        margin-left: 141px;
    }

    .home .tentang p {
        font-size: 15px;
        margin-left: 141px;
    }

    .home .tentang .tombol {
        padding: 10px;
        font-size: 15px;
        margin-left: 140px;
    }

    footer {
        font-size: 8pt;
    }

    footer li {
        padding: 6px 0;
    }
}



@media screen and (max-width: 514px) {
    body {
        max-width: 514px;
    }

    nav h1 {
        font-size: 20pt;
    }

    nav li {
        display: none;
    }

    nav {
        width: 350px;
    }

    header {
        font-size: 10pt;
        display: flex;
        width: 100%;
    }

    nav .navbar-brand img {
        margin-left: 10px;
    }

    header .con {
        display: contents;
    }

    .maps iframe {
        width: 300px;
        height: 300px;
    }
    .menu {
        margin-top: 400px;
    }
    .maps {
        margin-top: 750px;
    }
    .about img {
        width: 300px;
        margin: auto;
    }
    .team img {
        height: 200px;
    }
    .about p {
        margin:15px 0px 0px -640px ;
        width: 965px;
    }
    .home .tentang .judul {
        font-size: 25px;
        margin-left: 32px;
    }

    .home .tentang p {
        font-size: 15px;
        margin-left: 32px;
    }

    .home .tentang .tombol {
        padding: 10px;
        font-size: 15px;
        margin-left: 32px;
    }
    .home img {
        width: 300px;
        margin: 0px 00px 0px 50px;
    }
}

/* untuk display ipad */
@media all and (device-width: 768px) {
    .home img {
        width: 406px;
        height: auto;
        padding-top: 367px;
        margin-left: 351px;
        background-size: cover;
    }

    .maps iframe {
        height: 500px;
        width: 600px;
    }

    .about img {
        width: 500px;
        height: auto;
    }

    .about p {
        margin-left: -635px;
        padding-top: 420px;
        text-align: justify;
        width: 1270px;
    }

    .menu {
        height: 800px;
    }

    .footer {
        position: absolute;
        width: 100%;
    }
    .home img {
        width: 290px;
        height: auto;
        padding-top: 367px;
        margin-left: 34px;
        background-size: cover;
    }
}

@media all and (device-width: 820px) {
    .home img {
        width: 414px;
        height: auto;
        padding-top: 367px;
        margin-left: 367px;
        background-size: cover;
    }

    .about p {
        margin-left: -600px;
        padding-top: 420px;
        text-align: justify;
        width: 1270px;
    }
    


    .about img {
        width: 570px;
        height: auto;
    }

}

@media screen and (min-width:514px) and (max-width:820px) {
    .maps iframe {
        height: 500px;
        width: 650px;
    }
    .maps {
        margin-top: 10px;
    }
    .contact {
        margin-top: 160px;
    }
    .about img {
        width: 252px;
        height: auto;
        margin-left: -20px;
    }
    .about p {
        margin-left: -300px;
        padding-top: 100px;
        text-align: justify;
        width: 1000px;
    }
    .menu {
        height: 1000px;
    }
    .home .tentang .judul {
        font-size: 25px;
        margin-left: 32px;
    }

    .home .tentang p {
        font-size: 15px;
        margin-left: 32px;
    }

    .home .tentang .tombol {
        padding: 10px;
        font-size: 15px;
        margin-left: 32px;
    }
    .home img {
        width: 384px;
        margin: 0px 00px 0px 382px;
    }
}

@media screen and(min-width:1024px) {
    .maps iframe {
        width: 700px;
    }
    .about img {
        width: 252px;
        height: auto;
        margin-left: -40px;
    }
    .about p {
        margin-left: -635px;
        padding-top: 420px;
        text-align: justify;
        width: 955px;
    }
}
/* ============== TUTUP ITEM RESPONSIVE ============= */

